<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>EMPLOYEE MANAGEMENT SYSTEM</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
<style>
footer {
  text-align: center;
  padding: 3px;
  background-color: lightgrey;
  color: darkblue;
}

header {
  text-align: center;
  padding: 3px;
  background-color: lightgrey;
  color: darkblue;
}
</style>
</head>
<body style="background-color:rgb(240, 240, 240);">
<br>
<article>
		<header>
			<h3>
				<p style="color: maroon">Employee Time Tracking System</p>
			</h3>
		</header>
	</article>
	<br>
<h4 align="center">Oops Something went wrong ! </h4>
<br>
<h6 align="center">Please confirm the action ! <a href="/home" >Go Back to Home Page</a></h6>

<br>
<footer>
  <p>Author: Ruturaj Shinde<br>
  <a href="/">Home</a>
  <h5>Thank you for using ETTS !</h5>
</footer>
</body>
</html>