<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>EMPLOYEE TIME TRACKING SYSTEM</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
<style>
footer {
  text-align: center;
  padding: 3px;
  background-color: lightgrey;
  color: darkblue;
}

header {
  text-align: center;
  padding: 3px;
  background-color: lightgrey;
  color: darkblue;
}
</style>
</head>
<body style="background-color:rgb(240, 240, 240);">
<br>
<article>
		<header>
			<h4>
				<p style="color:green">Employee Time Tracking System</p>
			</h4>
		</header>
	</article>
	<br>
	<hr>
<h2 align="center"><p style="color: red">Welcome to Employee Time Tracking System</p></h2>
<br>
<h6 align="center">Go to Employees List--> <a href="/home" >ETTS Home Page</a></h6>
<br>
<h6 align="center">Find Employee By Email--> <a href="/searchbyemail" >Search Employee by Email</a></h6>

<br>
<hr>
<footer>
  <p>Author: Ruturaj Shinde</p>
  <a href="/">Home</a>
  <h5>Thank you for using ETTS..!</h5>
</footer>
</body>
</html>