<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>EMPLOYEE TIME TRACKING SYSTEM</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<style>
footer {
	text-align: center;
	padding: 3px;
	background-color: lightgrey;
	color: darkblue;
}

header {
	text-align: center;
	padding: 3px;
	background-color: lightgrey;
	color: darkblue;
}
</style>
</head>
<body style="background-color: rgb(240, 240, 240);">
	<article>
		<header>
			<h3>
				<p style="color: maroon">Employee Time Tracking System</p>
			</h3>
		</header>
	</article>
	<div class="container">
		<br>
		<hr>
		<h4>Save Employee Record</h4>
<br>
<form action="#" th:action ="@{/saveRecord}" th:object="${record}" method="post">

<label class="control-label col-sm-2">Start:</label>
<input type="text" th:field="*{start}" placeholder="Start Time" class="form-cotrol mb-4 col-4">
<br>
<label class="control-label col-sm-2">Start:</label>
<input type="text" th:field="*{end}" placeholder="End Time" class="form-cotrol mb-4 col-4">
<br>
<label class="control-label col-sm-2">Start:</label>
<input type="text" th:field="*{email}" placeholder="Email Id" class="form-cotrol mb-4 col-4">
<br>
<button type="submit" class="btn btn-info col-2">Save Record</button>

</form>
	</div>
	<br>
<footer>
  <p>Author: Ruturaj Shinde<br>
  <a href="/">Home</a>
  <h5>Thank you for using ETTS !</h5>
</footer>
</body>
</html>